@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
    margin: 0;
}

html, body {
    height: 100svh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    box-sizing: border-box;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    border: 1px solid black;
    border-radius: 8px;
    height: 75%;
    width: 25%;
}

#display-panel {
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 8px;
    height: 20%;
}

#button-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5em;


    border-radius: 8px;
    height: 80%;
}

#button-panel > * {
    font-family: "Orbitron", sans-serif;
    border-radius: 8px;
    width: 23%;
}

.expression-panel {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    border-radius: 8px;
    height: 50%;
}

#result {
    font-size: 1.75rem;
}

#expression, #result {
    font-family: "Orbitron", sans-serif;
}